export SERVICE=${REPO_NAME_KEBAB}
export STACK_NAME=${REPO_NAME_SNAKE}

export DOMAIN=${REPO_NAME_KEBAB}.example.com
## Domain aliases
#export EXTRA_DOMAINS=', `www.${REPO_NAME_KEBAB}.example.com`'
export LETS_ENCRYPT_ENV=production
